/* Анимация для товаров */
.fade {
   &-move, &-enter-active, &-leave-active {
      transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
   }

   &-enter-from, &-leave-to {
      opacity: 0;
      transform: scaleY(0.01) translate(30px, 0);
   }

   &-leave-active {
      position: absolute;
   }
}
